@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

.iconsFooter{
    background-color:  rgb(36, 35, 35);
}
.iconForFooter{
    color: white;
    background-color: rgb(36, 35, 35) ;
}
.footWrapper{
    background-color: rgb(36, 35, 35);
position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}
.icon, .iconMainIcon, .features ,.company, .resources, h4, li{
    background-color:  rgb(36, 35, 35);
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
li{
list-style: none;
line-height: 30px;
cursor: pointer;
font-weight: 400;
}
.features ,.company, .resources{
    height: 5%;
    width: 10%;
    margin: 3%;
}
.iconForFooter{
    margin: 3%;
}
.iconsFooter{
    width: 130px;
    position: absolute;
    top: 25%;
    right: 5%;
}
h4{
    font-size: 22px;
    margin-bottom: 15px;

}
.iconMainIcon{
position: absolute;
top: 25%;
left: 5%;


}
/* jak zmienic shortly na biale */
